*{
	margin:0px;
	padding: 0px;
}

body{
	background-image: url(temp.jpg);
	background-size:100%;
	background-repeat: no-repeat;


	



}
#nav-list{
	background-color: white;
}
.aw{
		background-image: url(aw.jpg);
	background-size:100%;
	background-repeat: no-repeat;
}
.about{
	background-image: url(about.jpg);
	background-size:100%;
	background-repeat: no-repeat;
}
.sp{
	background-image: url(backimg4.jpg);
	background-size:100%;
	background-repeat: no-repeat;
}

.single{
	background-image: url(men3.jpg);
		background-size:100%;
	background-repeat: no-repeat;

}
.men{
		background-image: url(bgs.jpg);
		background-size:100%;
	background-repeat: no-repeat;
}
}
.container{
	/*margin-left: 10px;*/


}
.main_inside{
		opacity: 0.7; 
		background-color:black;
		height: 100vh;
		width: 100%;



}
#header-nav{
	background-color: white;
	border-radius: 0;
	border: 0;
	height: 108px;
	

	


}

.navbar{
	margin-bottom: 0px; 
}
#logo-img{
	background: url(logo.jpg) no-repeat ;
	width: 100px;
	height: 100px;
	margin: 10px 10px 8px 0;
	
}
.navbar-brand h2 { /* Restaurant name */
  font-family: 'Lora', serif;
  color:#B08633;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 25px;/**/
  margin-bottom: 0;
  line-height: .75;
  
}

.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
  
}

#nav-list {
  margin-top: 10px;
  
}
#nav-list a {
	/*margin-left: 20px;
	margin-right: 30px;*/
  color: #2A2623;
  text-align: center;
}
#nav-list a:hover {
  background: #D09867;
}
#nav-list a span {
  font-size: 1.8em;
}

#phone {
  margin-top: 5px;
}

#phone a { /* Phone number */
  text-align: right;
  padding-bottom: 0;
}
#phone div { /* We Deliver */
  color: #557c3e;
  text-align: right;
  padding-right: 15px;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #61122f;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}
.container .jumbotron{
	box-shadow: 0 0 50px #300000;
		border: 3px solid white;
}
/*-------------------------*/
#menu-tile, #specials-tile, #map-tile {
  height: 250px;
  width: 100%;
  margin-bottom: 15px;
  position: relative;
  border: 3px solid white;
  overflow: hidden;
 /* margin-left:150px; */
}
#menu-tile:hover, #specials-tile:hover, #map-tile:hover {
  box-shadow: 0 1px 5px 1px #300000;
}

#menu-tile {
  background: url('menu.jpg') no-repeat;
  background-position: center;
  background-size: 100%
}
#specials-tile {
  background: url('special.jpg') no-repeat;
  background-position: center;
  background-size: 100%
}

#menu-tile span, #specials-tile span, #map-tile span {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  text-align: center;
  font-size: 1.6em;
  text-transform: uppercase;
  background-color: #000;
  color: #fff;
  opacity: .8;
}
/*-------------------------*/

@media(min-width: 1200px){/*not wprking*/
	.container .jumbotron{
		background: url("topback.jpg") no-repeat;
		background-size: 120%;
		height: 675px;
		/*width:1000px;
		box-shadow: 0 0 50px #3F0C1F;
		border: 3px solid white;
		margin-left: 220px;
		*/margin-top: 25px;

	}
	 /*#menu-tile, #specials-tile, #map-tile {
  	margin-left: 150px;
  }*/
}

@media (min-width: 992px) and (max-width: 1199px) {
  /* Head*/	.container .jumbotron{
		background: url("topback.jpg") no-repeat;
		background-size: 120%;
		height: 558px;
		margin-top: 25px;
		/*width:1000px;
		box-shadow: 0 0 50px #3F0C1F;
		border: 3px solid white;
		margin-left: 100px;
		margin-top: 20px;*/

	}
  #logo-img {
	background: url(logo.jpg) no-repeat ;
    width: 100px;
    height: 100px;
    margin: 5px 5px 5px 0;
  }
  /*#menu-tile, #specials-tile, #map-tile {
  	margin-left: 35px;
  }*/
  /* End Header */
}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
		.container .jumbotron{
		background: url("topback.jpg") no-repeat;
		background-size: 120%;
		height: 675px;
		margin-top: 25px;
		/*width:1000px;
		box-shadow: 0 0 50px #3F0C1F;
		border: 3px solid white;
		margin-left: 220px;
		margin-top: 20px;*/

	}
	/*#menu-tile, #specials-tile, #map-tile {
		margin-left: 150px;
	}*/

}
/*Menu lunch*/
.category-tile { 
  position: relative;
  border: 3px solid white;
  overflow: hidden;
  width: 250px;
  height: 250px;
  margin: 0 auto 15px;
}
.category-tile span {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  text-align: center;
  font-size: 1.2em;
  text-transform: uppercase;
  background-color: #000;
  color: #fff;
  opacity: .8;
}
.category-tile:hover {
  box-shadow: 0 1px 5px 1px #300000;
}

#menu-categories-title + div {
  margin-bottom: 50px;
}


/*menu end*/


/*--------------------------------------*/
.menu-item-tile {
  margin-bottom: 25px;
}
.menu-item-tile hr {
  width: 80%;
}
.menu-item-tile .menu-item-price {
  font-size: 1.1em;
  text-align: right;
  margin-top: -15px;
  margin-right: -15px;
}
.menu-item-tile .menu-item-price span {
  font-size: .6em;
}
.menu-item-photo {
  position: relative;
  border: 3px solid white; 
  overflow: hidden;
  padding: 0;
  margin-right: -15px;
  margin-left: auto;
  margin-bottom: 20px;
  max-width: 250px;
}
.menu-item-photo div {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100px;
  background-color: #d9ffcc;
  text-align: center;
}
.menu-item-description {
  padding-right: 30px;
  color: black;
}
h3.menu-item-title {
  margin: 0 0 10px;
}
.menu-item-details {
  font-size: .9em;
  font-style: italic;
}
/*-------------------------------------*/











/********** Extra small devices only **********/
@media (max-width: 767px) {
  /* Header */
  #menu-tile, #specials-tile, #map-tile {
  	margin: 0 0 0 0; 
  }
  .navbar-brand {
    padding-top: 25px;
    height: 80px;
  }
  .navbar-brand h1 { /* Restaurant name */
    padding-top: 10px;
    font-size: 5vw; /* 1vw = 1% of viewport width */
  }

  #collapsable-nav a { /* Collapsed nav menu text */
    font-size: 1.2em;
  }
  #collapsable-nav a span { /* Collapsed nav menu glyph */
    font-size: 1em;
    margin-right: 5px;
  }

  #call-btn > a {
    font-size: 1.5em;
    display: block;
    margin: 0 20px;
    padding: 10px;
    border: 2px solid black;
    background-color: #9aede2;
    color: #023512;
    
  }
  #xs-deliver {
    margin-top: 5px;
    font-size: .7em;
    letter-spacing: .1em;
    text-transform: uppercase;
  }
  /* End Header */
 /* a{
  	background-color: #f22;
  }*/

 /*footer for small scrren*/
 .panel-footer section{
 	margin-bottom: 30px;
 	text-align: center;
 }
.panel-footer section:nth-child(3){
	margin-bottom: 0;
} 
.panel-fooer section hr{
	width: 50%;
	
}
.menu-item-photo{
	margin-right: auto;
}
.menu-item-tile,.menu-item-price {
	text-align: center;

}
}

/*@media for very small file*/
@media (max-width:479px){
	.navbar-brand h1{
		padding-top: 5px;
		font-size: 6vw;
	}
	#menu-title,#specials-tile{
		width: 280px;
		margin:0 auto 15px;
	}

.col-xxs-12{
	position: relative;
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px;
	float: left;
	width: 100%;

}
}
.panel-footer {
  margin-top: 30px;
  padding-top: 35px;
  padding-bottom: 30px;
  background-color: #222;
  border-top: 0;
}
/*color for text in footer*/
#hours.col-sm-4{
	color: cyan;
}
#testimonials.col-sm-4{
	color: cyan;
}
#address.col-sm-4{
	color: cyan;
}
.text-center{

	color:green;
}

/*------------------------------*/
.panel-footer div.row {
  margin-bottom: 35px;
}
#hours, #address {
  line-height: 2;
}
#hours > span, #address > span {
  font-size: 1.3em;
}

#address p {
  color:white;
  font-size: .8em;
  line-height: 1.8;
}
#testimonials {
  font-style: italic;
}
#testimonials p:nth-child(2) {
  margin-top: 25px;
}